<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PlaceFinder</title>
</head>

<body>
  <div id="app"></div>
  <% if(isDev){ %>
  <script type="module" src="/src/main.dev.js"></script>
  <% } else { %>
  <script type="module" src="/src/main.prod.js"></script>
  <% } %>
</body>

</html>
