<script lang="ts">
    import { googleStore } from "src/stores/google";
    import { createEventDispatcher, onDestroy } from "svelte";

    let guessMarker: google.maps.Marker;
    const dispatch = createEventDispatcher();

    let guessMapDiv: HTMLDivElement;
    let map: google.maps.Map;

    $: if ($googleStore && guessMapDiv && !map) {
        map = new $googleStore.maps.Map(guessMapDiv, {
            center: { lat: 0, lng: 0 },
            zoom: 1,
            clickableIcons: false,
            isFractionalZoomEnabled: true,
            mapTypeControl: false,
            streetViewControl: false,
        });

        $googleStore.maps.event.addListener(map, "click", onMapClick);
    }

    onDestroy(() => {
        guessMarker?.setMap(null);
    });

    function makeGuess() {
        dispatch("make_guess", {
            position: guessMarker.getPosition(),
        });
    }

    function onMapClick(event) {
        if (guessMarker) guessMarker.setMap(null);

        guessMarker = new $googleStore.maps.Marker({
            position: event.latLng,
            map,
        });
    }
</script>

<div class="guess_map_resize_handle" on:mousedown />
<div id="guess_map" bind:this={guessMapDiv} />
<button id="make_guess_button" disabled={!guessMarker} on:click={makeGuess}>
    Make Guess
</button>

<style>
    * {
        --make-guess-button-height: 3rem;
    }

    #guess_map {
        width: 100%;
        height: calc(100% - var(--make-guess-button-height));
    }

    #make_guess_button {
        display: block;
        height: var(--make-guess-button-height);
        width: 100%;

        background: linear-gradient(to right, #3eedff, #e172f7);
        color: white;
        font-weight: bold;
        font-size: 1.75em;
        text-shadow: -0.08ch -0.08ch 0.2ch black, -0.08ch 0.08ch 0.2ch black,
            0.08ch 0.08ch 0.2ch black, 0.08ch -0.08ch 0.2ch black;

        border: none;

        overflow-y: hidden;
    }

    #make_guess_button:disabled {
        filter: brightness(0.5) saturate(0.75);
    }

    #make_guess_button:hover:not(:disabled) {
        filter: brightness(1.05);
        cursor: pointer;
    }

    #make_guess_button:active {
        filter: brightness(1.15);
    }

    .guess_map_resize_handle {
        --resize-handle-size: 1.5em;

        /* background-color: blue; */
        width: var(--resize-handle-size);
        height: var(--resize-handle-size);
        position: absolute;
        right: calc(var(--resize-handle-size) / -2);
        top: calc(var(--resize-handle-size) / -2);
        z-index: 1;
    }

    .guess_map_resize_handle:hover {
        cursor: nesw-resize;
    }
</style>
