<script lang="ts">
    import { googleStore } from "src/stores/google";
    import Round from "../round/round.svelte";
    import RoundScore from "../round_score/round_score.svelte";

    let currentRound = 1;

    let currentRoundData: {
        guessPosition: google.maps.LatLng;
        actualPosition: google.maps.LatLng;
        distanceInMeters: number;
    };

    let currentDisplay: "round" | "round_score" = "round";

    function onMakeGuess(event) {
        currentRoundData = event.detail;
        currentRoundData.distanceInMeters =
            $googleStore.maps.geometry.spherical.computeDistanceBetween(
                currentRoundData.guessPosition,
                currentRoundData.actualPosition
            );

        currentDisplay = "round_score";
    }

    function onNextRound() {
        currentRound += 1;
        currentDisplay = "round";
    }
</script>

{#if currentDisplay === "round"}
    <Round on:make_guess={onMakeGuess} />
{:else if currentDisplay === "round_score"}
    <RoundScore {...currentRoundData} on:next_round={onNextRound} />
{:else}
    currentDisplay is invalid, check console for details.
    {console.error("Invalid currentDisplay state:", currentDisplay)}
{/if}
