<script lang="ts">
    import { googleStore } from "src/stores/google";
    import { createEventDispatcher } from "svelte";

    export let guessPosition: google.maps.LatLng;
    export let actualPosition: google.maps.LatLng;
    export let distanceInMeters: number;

    // TODO: i18n
    const distanceFormatter = Intl.NumberFormat("en-US", {
        maximumFractionDigits: 1,
    });

    let formattedDistance =
        distanceInMeters < 1000
            ? `${distanceFormatter.format(distanceInMeters)}m`
            : `${distanceFormatter.format(distanceInMeters / 1000)}km`;

    const dispatch = createEventDispatcher();

    let resultMapDiv: HTMLDivElement;
    let map: google.maps.Map;

    $: if ($googleStore && resultMapDiv && !map) {
        map = new $googleStore.maps.Map(resultMapDiv, {
            center: actualPosition,
            zoom: 10,
            isFractionalZoomEnabled: true,
        });

        new $googleStore.maps.Marker({
            position: guessPosition,
            icon: "./dot-23.png",
            map,
        });

        new $googleStore.maps.Marker({
            position: actualPosition,
            icon: "./dot-28.png",
            map,
        });
    }

    function onNextRoundClick(event: Event) {
        dispatch("next_round");
    }
</script>

<div style:height="100%">
    <div id="result_map" style:height="80%" bind:this={resultMapDiv} />
    <div style:height="10%">Your guess was {formattedDistance} away</div>
    <div>
        <button style:height="10%" on:click={onNextRoundClick}
            >Next Round</button
        >
    </div>
</div>

<style>
    #result_map {
        width: 100%;
        height: 95%;
    }
</style>
