<script lang="ts">
    import { googleStore } from "src/stores/google";
    import { createEventDispatcher } from "svelte";

    export let desiredPosition: google.maps.LatLng;

    const dispatch = createEventDispatcher();

    let streetViewDiv;

    $: if ($googleStore && streetViewDiv) {
        const streetViewPanorama = new $googleStore.maps.StreetViewPanorama(
            document.getElementById("street_view"),
            {
                position: desiredPosition,
                addressControl: false,
                fullscreenControl: false,
                showRoadLabels: false,
            }
        );

        const panoChangedListenerId = streetViewPanorama.addListener(
            "pano_changed",
            () => {
                dispatch("position_loaded", {
                    position: streetViewPanorama.getLocation().latLng,
                });

                $googleStore.maps.event.removeListener(panoChangedListenerId);
                const pov = streetViewPanorama.getPhotographerPov();
                streetViewPanorama.setPov(pov);
            }
        );
    }
</script>

<div id="street_view" bind:this={streetViewDiv} />

<style>
    #street_view {
        width: 100%;
        height: 100%;
    }
</style>
