<script lang="ts">
    import { RandomStreetView } from "src/random-streetview";
    import { googleStore } from "src/stores/google";
    import GuessMap from "src/ui/organisms/guess_map/guess_map.svelte";
    import Streetview from "src/ui/organisms/streetview/streetview.svelte";
    import { createEventDispatcher } from "svelte";

    let actualPanoramaPosition: google.maps.LatLng;
    let foundLatLonPromise: Promise<google.maps.LatLng>;

    const dispatch = createEventDispatcher();

    if ($googleStore) {
        const randomStreetView = new RandomStreetView({
            type: "sv",
            google: $googleStore,
            endZoom: 18,
        });

        foundLatLonPromise = randomStreetView
            .getRandomLocation()
            .then((latLonArray) => {
                if (latLonArray && latLonArray.length == 2) {
                    return new $googleStore.maps.LatLng(
                        latLonArray[0],
                        latLonArray[1]
                    );
                }
            });
    }

    function onMakeGuess(event) {
        dispatch("make_guess", {
            guessPosition: event.detail.position,
            actualPosition: actualPanoramaPosition,
        });
    }

    function onPositionLoaded(event) {
        actualPanoramaPosition = event.detail.position;
    }

    let guessMapContainer: HTMLDivElement;

    function onGuessMapResizeHandleMousedown(event: MouseEvent) {
        event.stopPropagation();
        event.preventDefault();

        document.addEventListener("mousemove", onGuessMapResizeHandleMousemove);
        document.addEventListener("mouseup", onGuessMapResizeHandleMouseup);
    }

    function onGuessMapResizeHandleMousemove(event: MouseEvent) {
        const minimumMapSize = 128;

        event.stopPropagation();
        event.preventDefault();

        const targetWidth = Math.min(
            Math.max(event.clientX, minimumMapSize),
            window.visualViewport.width * 0.95 // to prevent it from going far enough to show scrollbars
        );
        const targetHeight = Math.max(
            window.visualViewport.height - event.clientY,
            minimumMapSize
        );
        guessMapContainer.style.width = `${targetWidth}px`;
        guessMapContainer.style.height = `${targetHeight}px`;
    }

    function onGuessMapResizeHandleMouseup(event: MouseEvent) {
        event.stopPropagation();
        event.preventDefault();

        document.removeEventListener(
            "mousemove",
            onGuessMapResizeHandleMousemove
        );

        document.removeEventListener("mouseup", onGuessMapResizeHandleMouseup);
    }
</script>

{#await foundLatLonPromise}
    Loading latlon...
{:then foundLatLon}
    <Streetview
        desiredPosition={foundLatLon}
        on:position_loaded={onPositionLoaded}
    />

    <div id="guess_map_container" bind:this={guessMapContainer}>
        <GuessMap
            on:make_guess={onMakeGuess}
            on:mousedown={onGuessMapResizeHandleMousedown}
        />
    </div>
{:catch error}
    <p>Failed to load a location: {error}</p>
{/await}

<style>
    #guess_map_container {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 45vh;
        height: 30vh;
        z-index: 10;

        box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.5);
    }
</style>
