<script lang="ts">
    import { Loader } from "@googlemaps/js-api-loader";
    import { onMount } from "svelte";
    import { googleStore } from "./stores/google";
    import Game from "./ui/screens/game/game.svelte";
    import MainMenu from "./ui/screens/main_menu/main_menu.svelte";

    let currentScreen: "game" | "main_menu" = "main_menu";

    let googleLoader;

    onMount(() => {
        const loader = new Loader({
            apiKey: "AIzaSyCAP5oxd8vGyY5d7ZLg0UD8jPeY3vHJaFU",
            version: "weekly",
            libraries: ["geometry"],
        });

        googleLoader = loader.load();
        googleLoader.then((loadedGoogle) => {
            googleStore.set(loadedGoogle);
        });
    });
</script>

<main>
    {#await googleLoader}
        Loading Google Maps JavaScript API...
    {:then}
        {#if currentScreen == "main_menu"}
            <MainMenu
                on:click={() => {
                    currentScreen = "game";
                }}
            />
        {:else if currentScreen == "game"}
            <Game />
        {:else}
            {console.error(
                'Invalid value of currentScreen: "' + currentScreen + '"'
            )}
        {/if}
    {/await}
</main>

<style>
    main {
        height: 100%;
        width: 100%;
    }
</style>
