<div class="main_menu">
    <button on:click>Play</button>
</div>

<style>
    .main_menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
